{{ ansible_managed | comment }}

Port {{ ssh_port }}

Protocol 2

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 120
PermitRootLogin {{ ssh_permit_root_login }}
StrictModes yes

PubkeyAuthentication yes

IgnoreRhosts yes

HostbasedAuthentication no

IgnoreUserKnownHosts no

PermitEmptyPasswords {{ ssh_permit_empty_password }}

ChallengeResponseAuthentication no

PasswordAuthentication {{ ssh_permit_password_authentication }}

X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes

UseDNS no
